{% extends 'VerbNet/base.html' %}

{% block content %}

<!-- HOME PAGE -->
<div id="main-content">
  <div class="container">
    <div class="jumbotron">
      <h2>Что такое VerbNet?</h2>
      <div class="text-justify">
        <p>Глагольный WordNet (VerbNet) – электронная база или семантическая сеть русских глаголов, которые собраны в определенные синонимические ряды, которые называются синсетами. Подобные синсеты объединяют слова со схожим значением. Каждый синсет содержит список синонимов или синонимичных словосочетаний и указатели, описывающие отношения между ним и другими синсетами. Глаголы, имеющие несколько значений, включаются в несколько синсетов и могут быть причислены к различным синтаксическим и лексическим классам.</p>
        <p>Для удобства использования Ворднета каждый синсет обычно дополнен дефиницией и примерами употребления слов в контексте. Кроме того, семантические сети могут быть визуализированы.</p>
        <p>Первый WordNet разработан для английского языка в Принстонском университете.</p>
        <h3>Дополнительные материалы:</h3>
        <ul class="list-unstyled">
          <li><a href="http://wordnet.princeton.edu/" class="text-capitalize"> Princeton Wordnet</a></li>
          <li><a href="http://ai.stanford.edu/~rion/swn/" class="text-capitalize"> Stanford Wordnet</a></li>
          <li><a href="http://globalwordnet.org/" class="text-capitalize">The Global Wordnet Association</a></li>
          <li><a href="http://globalwordnet.org/wordnets-in-the-world/" class="text-capitalize">Wordnets in the World</a></li>
          <li><a href="http://visuwords.com/" class="text-capitalize"> VisuWords</a></li>
        </ul>

      </div>
    </div>
  </div>
<!-- END OF HOME PAGE -->

{% endblock %}